@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
} */
body {
  background: rgb(14, 28, 23);
  background: radial-gradient(
    circle,
    rgba(14, 28, 23, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
  @apply text-gray-100;
}
.container {
  @apply mx-auto w-full max-w-[1200px] px-12;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}
