@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
} */
body {
  background: rgb(14, 28, 23);
  background: radial-gradient(
    circle,
    rgba(14, 28, 23, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
  @apply text-gray-100;
}
.container {
  @apply mx-auto w-full max-w-[1200px] px-12;
}

.shadowCards:hover {
  box-shadow: 3px 3px 5px #6e6e6e, -3px -3px 5px #bfbfbf,
    5px 5px 15px rgba(74, 222, 128, 0.6), -5px -5px 15px rgba(74, 222, 128, 0.6);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}
